$white: #fafafa;
$black: #333333;

html {
    font-size: 1em;
}

body.dark {
    background: $black;
    color: $white;
    .c-calculator-button {
        color: $white;
    }
    .c-calculator__result {
        border-color: $white;
        color: $white;
    }
    .c-footer__mode {
        color: $white;
    }
}

.c-calculator-button {
    border: none;
    color: black;
    background: transparent;
    outline: none;
    width: 50px;
    height: 35px;
    padding: 5px;
}

.c-row {
    margin: 0 5px;
}

.c-calculator__result {
    width: 150px;
    padding: 5px;
    background: transparent;
    border: 1px solid $black;
}
.c-footer__mode {
    border: none;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
    padding: 5px;
    width: 200px;
    font-size: 0.5em;
}

.js-operation-active {
    background-color: #4CAF50;
    /* Green */
    color: white;

}